.navbar{
    backdrop-filter: blur(5px) contrast(0);
}

#register{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #C850C0 0%, #FFCC70 100%);
    padding: 0.5rem;
    border-radius: 30px;
    padding-inline: 2rem;
    color: black;
}
#register:hover{
    cursor: pointer;
    scale: 1.1;
    transition: all;
    transition-duration: 500ms;
}
.navhover:hover{
    cursor: pointer;
    /* color: #f79941; */
    transition: all;
    transition-duration: 500ms;
    scale: 1.4;
}